<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="appcomponentcss" href="styles.css">
        <title>Hiking Kings</title>
</head>

<body>
    <div class="banner">
        <div class="navigationBar">
            <ul>
              <li><a routerLink="/" href="#"><b>HOME</b></a></li>
              <li><a  routerLink="/fourth-page" href="#"><b>SERVICES</b></a></li>
              <li><button (click)="btnClick();"   class="btnLogin" ><b> LOGIN</b> </button></li>
              <li ><button (click)="btnClick2()"class="btnCart "><i class="fa fa-shopping-cart"></i></button></li>
              <li><div class="search-container">
                <form class="search" action="">
                  <input [(ngModel)]="textName" type="text" placeholder="Search.." name="search" >
                  <button (click)="findByNume()"  class="iconSearch"  type="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>
                <li> <p class="welcomeText"><b> WELCOME {{currentUser?.numeClient}} !</b></p></li>
    
            </ul>
        </div>
    <!-- </div> -->

        <section class="product"> 
        <h2 class="product-category">CLOTHES</h2>
        <!-- <button class="pre-btn"><img src="images/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="images/arrow.png" alt=""></button> -->

        <select  title="Sorteaza dupa pret:" class="sorting" name="sortare" [value] [(ngModel)]="selectedOption" (ngModelChange)="sortProducts()" >
            <option  disabled selected>Sorteaza:</option>
            <option value="inorder">Neordonat</option>
            <option value="crescator">Ordonare pret crescator</option>
            <option value="descrescator">Ordonare pret descrescator</option>
            
        </select>

        <select title="sorteaza dupa gen:" class="sorting" name="sortare" [value] [(ngModel)]="selectedOptionGender"  (ngModelChange)="sortProductsByGender()" >
            <option  disabled selected>Sorteza Gen:</option>
            <option value="masculin">Barbati</option>
            <option value="feminin">Femei</option>
            <option value="kids">Copii</option>
            
        </select>
    
 <div class="product">
      <div class="product-container">
        <div class="product-item" *ngFor="let product of productThird">
          <div class="product-img">
                <img [src]="product.images" class="product-thumb" [alt]="product.nameProduct">
                
                    <button (click)="addToCart(product);" class="add-btn">add to cart</button>
             </div>
            <div class="product-content">
            <h2 class="product-brand">{{ product.nameProduct }}</h2>
            <span class="price">{{ product.pretProdus }} LEI</span>

          </div>
        </div>
    </div>


</div>
      
</section> 
</div>



      <!-- <div class="product-container">
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/MonitorStup.jpg" class="product-thumb" alt="1">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">Monitor Stup</h2>
                  <span class="price">3000 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/colectorPolen.jpg" class="product-thumb" alt="2">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">COLECTOR POLEN</h2>
                  <span class="price">200 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/ColectorPropolis.jpg" class="product-thumb" alt="3">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">COLECTOR PROPOLIS</h2>
                  <span class="price">400 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/stupObservatie.jpg" class="product-thumb" alt="4">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">STUP OBSRVATIE</h2>
                  <span class="price">100 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/ramaTei.jpg" class="product-thumb" alt="7">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">RAMA TEI</h2>
                  <span class="price">20 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/stupPlatic.jpg" class="product-thumb" alt="8">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">STUP PLASTIC</h2>
                  <span class="price">40 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/set.jpg" class="product-thumb" alt="9">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">SET APICULTURA</h2>
                  <span class="price">200 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/Celule.jpg" class="product-thumb" alt="10">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">CELULE</h2>
                  <span class="price">700 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/afumatorInox.jpg" class="product-thumb" alt="11">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">Afumator Inox</h2>
                  <span class="price">720 LEI</span>
              </div>
          </div>
          <div class="product-card">
              <div class="product-image">
                  <img src="assets/images/ramaCuFagure.jpg" class="product-thumb" alt="12">
                  <button class="card-btn">add to wishlist</button>
              </div>
              <div class="product-info">
                  <h2 class="product-brand">Rama Cu Fagure</h2>
                  <span class="price">200 LEI</span>
              </div>
          </div>
      </div> -->


     


    
    <script src="script.js"></script>
</body>
</html>