.navigationBar {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #464343;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.navigationBar ul 
{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigationBar li 
{
  margin-right: 20px;
  display: inline-block;
}

.navigationBar ul li .input[type=text] .container{
  position: relative;
}
.navigationBar .search-container {
position: relative;
left: 60%;
z-index:0;

}

.navigationBar a {
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

.navigationBar a:hover {
  color: #c29904;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 

header{
    display: block;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    font-weight: 600;
    color:rgb(149, 8, 8);
    user-select: none;
}

.navigation a
{
    position: relative;
    font-size: 1em;
    color:#000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#120b0b;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.btnLogin,
.btnCart {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.btnCart i {
  font-size: 24px;
}

.btnLogin:hover,
.btnCart:hover {
  color: #f5a623;
}


.LogoImage{
    display: flex;
    
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('shop.jpg') no-repeat;
    background-size: cover; 
}

.wrapper {
    position: absolute;
    bottom: 66%;
    left: 40%;
    width: 250px;
    height: 100px;
    background: transparent;
    border: 2px solid rgba(168, 106, 11, .5);
    border-radius: 40px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    filter: brightness(400%);
}
.wrapper2 {
    position: absolute;
    border-radius: 50%;
    left:35%;
    top:40%;
    width: 400px;
    height: 400px;
    border-color: #a80000;
    background:transparent ;
    border: 2px solid rgba(168, 106, 11, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(167, 10, 10, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    filter: brightness(400%);
}

.wrapper1 {
    position: absolute;
    border-radius: 50%;
    left:5%;
    top:12%;
    width: 400px;
    height: 400px;
    border-color: #a80000;
    background:transparent ;
    border: 2px solid rgba(168, 106, 11, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(167, 10, 10, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    filter: brightness(400%);
  
}

.wrapper3 {
    position: absolute;
    border-radius: 50%;
    left:65%;
    top:12%;
    width: 400px;
    height: 400px;
    border-color: #a80000;
    background:transparent ;
    border: 2px solid rgba(168, 106, 11, .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(167, 10, 10, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    filter: brightness(400%);
}
.wrapper1 .textinput{
    font-size: 1.3rem;
    color: #000000;
    border-color: #040000;
    align-items: flex-start;
    font-family: 'Lucida Sans Regular';
    font-style: italic;
    font-variant-numeric: diagonal-fractions;  
    align-items: start;  
    position: absolute;
}

.wrapper3 .textinput{
    font-size: 1.3rem;
    color: #000000;
    border-color: #040000;
    align-items: flex-start;
    font-family: 'Lucida Sans Regular';
    font-style: italic;
    font-variant-numeric: diagonal-fractions;  
    align-items: start;  
    position: absolute;
}

.wrapper2 .textinput{
    font-size: 1.3rem;
    color: #000000;
    border-color: #040000;
    align-items: flex-start;
    font-family: 'Lucida Sans Regular';
    font-style: italic;
    font-variant-numeric: diagonal-fractions;  
    align-items: start;  
    position: absolute;
}
.textinput{
    font-size: 3rem;
    left: 20%;
    right: 20%;
    
    align-items: center;
    font-family: 'Lucida Sans Regular';
    font-style: italic;
    font-variant-numeric: diagonal-fractions;  
    align-items: start;  
    position: absolute;
}

.divfor1 .wrapper .text input {
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add some padding */
    font-size: 16px; /* Increase the font size */
    color: #333; /* Set the font color */
    border-radius: 5px; /* Round the corners */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1); /* Add a subtle box-shadow */
    outline: none; /* Remove the default focus outline */
  }
  
  .divfor1 .wrapper .text input:focus {
    border-color: #007bff; /* Change the border color on focus */
    box-shadow: 0px 0px 5px rgba(0,123,255,0.5); /* Add a stronger box-shadow on focus */
  }
  
.wrapper .introducere
{
    font-size: 3rem;
    align-items: flex-start;
    font-family: 'Lucida Sans Regular';
    font-style: italic;
    font-variant-numeric: diagonal-fractions;  
    align-items: start;  
    position: absolute;
}
.wrapper .form-login {
    width: 100%;
    padding: 40px;   
   }


.wrapper .form-login {
    width: 100%;
    
    align-items: center;
    padding: 40px;   
   }

.form-login h2{
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
    position: center;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 25%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #120d0d;
    font-weight: 500;
    pointer-events: none;
    transition:  .5s;
    
     
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: darkblue;
    line-height: 57px;
}

.forgotPassword{
    font-size: .9em;
    color:#000000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.forgotPassword label input{
    accent-color: #000;
    margin-right: 3px;
}
.forgotPassword a{
    color:#000000;
    text-decoration: none;
}
.forgotPassword a:hover
{
    text-decoration: underline;
}
.btn{
    width: 30%;
    height: 30px;
    right: 10%;
    left: 0%;

    justify-content: center;
    position: relative;
    align-items: center;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;

}
.Login-Register
{
    font-size: .9em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
 }
 .Login-Register a{
    color:#000;
 }

 .btn.incorrect {
    background-color: red;
    color: white;
  }
  
  .center-cointainer{
    display: block;

  }

  /* HEADER */

  .welcomeText{
    position: relative;
    left:200px;
    font-size: 20px;
  }
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
  }
  
  .banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url('shop.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .navbar .btnCart{
    width: 50px;
    background-color: rgba(229, 248, 16, 0.642);
    border-radius: 20%;
    padding: 12px 16px;
    font-size: 16px;
    position: relative;
    left:150px;
  }
  
  .logo {
    width: 500px;
    cursor: pointer;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: rgb(250, 255, 182);
    font-size:17px;
    text-transform: uppercase;
  }
  
  /* .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #829600;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  } */
  
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(11, 3, 3)
  }
  .navbar .btnLogin
{
    position: relative;
    left:250%;
    width: 130px;
    height: 50px;
    background:#ff1;
    border: 2px solid #120d0d;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    color:#000000;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
    
}

.navbar .btnLogin:hover
{
    background: #e9f098;
    color:#a80000;
    font-weight: 700;
}

  
  .content h1 {
    font-size: 70px;
    margin-top: 80px;
  }
  
  .content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
  }
  
  .login-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgb(36, 145, 159);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .signup-btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .cover {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  button:hover span {
    width: 100%;
  }
  
  button:hover {
    border: none;
  }
  
  /* PRODUCTS */
  .product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  