<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="appcomponentcss" href="styles.css">
        <title>Hiking Kings</title>
</head>

<body>
    <div class="banner">
        <div class="navigationBar">
            <ul>
              <li><a routerLink="/" href="#"><b>HOME</b></a></li>
              <li><a  routerLink="/fourth-page" href="#"><b>SERVICES</b></a></li>
              <li><button (click)="btnClick();"   class="btnLogin" ><b> LOGIN</b> </button></li>
              <li ><button (click)="btnClick2()"class="btnCart "><i class="fa fa-shopping-cart"></i></button></li>
              <li><div class="search-container">
                <form class="search" action="">
                  <input type="text" placeholder="Search.." name="search" >
                  <button class="iconSearch"  type="submit"><i class="fa fa-search"></i></button>
                </form>
                </div>
                <li> <p class="welcomeText"><b> WELCOME {{currentUser?.numeClient}} !</b></p></li>

            </ul>
        </div>
        <section class="">
          <div class="wrapper">
            <div class="form-login">
              <h2>LOGIN</h2>
              <form action="#">
                <div>
                  <label for="icon"><img src="/assets/images/icon.png" alt="Icon"></label>
                </div>
                <div class="input-box">
                  <span class="icon"> 
                    <ion-icon name="mail"></ion-icon>
                  </span>
                  <input type="email" required [(ngModel)]="myInputEmail" name="myInputEmail">
                  <label><b>EMAIL</b></label>
                </div>
                  <div class="input-box">
                    <input type="password" required [(ngModel)]="myInputPassword" name="myInputPassword">
                    <label><b>PASSWORD</b></label>
                  </div>
                  <div class="forgotPassword">
                    <label><input type="checkbox"><b>Admin</b></label>
                    <a href="#"><b>Forgot Password?</b></a>
                  </div>
                            <button type="submit" (click)="login()" class="btn" >LOGIN</button>
                  <div class="Login-Register">
                    <p><b>Don't have an account?</b>
                      <a routerLink="/third-page" href="#" class="register-link"><b>REGISTER </b></a>
                    </p>
                  </div>
              </form>
            </div>
          </div>
          </section>
    </div>

   
  
  
    
    <script src="script.js"></script>
</body>
</html>
<!-- 
<!DOCTYPE html>

<html lang="en">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-sclae=1.0">
<title>Website with Login and Registration</title>
<link rel="appcomponentcss" href="app.component.css">

</head>
<body>
  <header>
    <h2 class="logo">Logo</h2>
s    <nav class="navigation">
      <a routerLink="/" href="#">Home </a>
      <a routerLink="/second-page" href="#"> About </a>
      <a routerLink="/fourth-page" href="#"> Services </a>
      <a routerLink="/fifth-page" href="#"> Contact </a>
      <button class="btnLogin"> Login </button>
    </nav>
  </header>

  <div class="wrapper">
    <div class="form-login">
      <h2>Login</h2>
      <form action="#">
        <div class="input-box">
          <span class="icon"> 
            <ion-icon name="mail"></ion-icon>
          </span>
          <input type="email" required [(ngModel)]="myInputEmail" name="myInputEmail">
          <label>Email</label>
        </div>
          <div class="input-box">
            <input type="password" required [(ngModel)]="myInputPassword" name="myInputPassword">
            <label>Password</label>
          </div>
          <div class="forgotPassword">
            <label><input type="checkbox">Admin</label>
            <a href="#">Forgot Password?</a>
          </div>
                    <button type="submit" (click)="verifying()" class="btn" >Login</button>
          <div class="Login-Register">
            <p>Don't have an account?
              <a routerLink="/third-page" href="#" class="register-link"> Register </a>
            </p>
          </div>
      </form>
    </div>
  </div>

  

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html> -->